*{
    font-family: Arial;
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
}

.centralizar{
    text-align: center;    
}

.margem{
    margin: 10px 30px;
}

.margem2{
    margin-left: 470px;
}