*{
    font-family: Arial;
    background-color: rgb(255, 253, 253);
    color: rgb(0, 0, 0);
}

.centralizar{
    text-align: center;    
}

.margem{
    margin: 10px 30px;
}

.margem2{
    margin-left: 480px;
}

.test:hover{
    transition: transform .2s;
    transform:scale(1.1);
}

.test2{
    transition: transform .2s;
}

.mar{
    margin: 65px;
}


