
body{
    background-image: url("img/funo\ academia.jpg");            
    font-family: Arial;
    color: rgb(255, 255, 255);   
        
}
.amarelo{
    color: rgb(214, 181, 32);
}



h1{
   
        text-align: center;        
}

